{% extends "base.html" %}

{% block lab %}Холодильник{% endblock %}

{% block main %}
    <h1>Настройка температуры холодильника</h1>
    <form method="post">
        <div>
            <label for="temperature">Введите температуру (°C):</label>
            <input type="text" id="temperature" name="temperature" required>
        </div>
        <div>
            <button type="submit">Установить</button>
        </div>
    </form>
    {% if message %}
        <div style="color: blue; font-weight: bold;">{{ message }}</div>
    {% endif %}
{% endblock %}