{% extends "base.html" %}

{% block lab %}Заказ зерна{% endblock %}

{% block main %}
    <h1>Заказ зерна</h1>
    <form method="post">
        <div>
            <label for="grain_type">Выберите тип зерна:</label>
            <select id="grain_type" name="grain_type" required>
                <option value="ячмень">Ячмень</option>
                <option value="овёс">Овёс</option>
                <option value="пшеница">Пшеница</option>
                <option value="рожь">Рожь</option>
            </select>
        </div>
        <div>
            <label for="weight">Введите вес (т):</label>
            <input type="number" id="weight" name="weight" required min="0">
        </div>
        <div>
            <button type="submit">Сформировать заказ</button>
        </div>
    </form>
    {% if message %}
        <div style="color: blue; font-weight: bold;">{{ message }}</div>
    {% endif %}
{% endblock %}