{% extends "base.html" %}

{% block lab %}Регистрация{% endblock %}

{% block main %}
    <h1>Регистрация нового пользователя</h1>
    <form method="post">
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" required>
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="gender">Пол:</label>
            <select id="gender" name="gender" required>
                <option value="M">Мужской</option>
                <option value="F">Женский</option>
            </select>
        </div>
        <div>
            <button type="submit">Зарегистрироваться</button>
        </div>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </form>
{% endblock %}