{% extends "base.html" %}

{% block lab %}Список пользователей{% endblock %}

{% block main %}
    <h1>Список пользователей</h1>
    <h2>Добро пожаловать, {{ name }}!</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.name }} ({{ user.login }})</li>
        {% endfor %}
    </ul>
    <form action="/lab4/delete_user" method="post">
        <button type="submit">Удалить себя из списка</button>
    </form>
    <form action="/lab4/edit_user" method="get">
        <button type="submit">Редактировать свои данные</button>
    </form>
{% endblock %}