{% extends "base.html" %}

{% block lab %}Список пользователей{% endblock %}

{% block main %}
    <h1>Список пользователей</h1>
    {% for user in users %}
    <div>
        <p>Имя: {{ user.name }} -- Логин: {{ user.login }}</p>
        {% if user.login == current_login %}
            <form action="/lab4/delete_user" method="post">
                <input type="hidden" name="login" value="{{ user.login }}">
                <button type="submit">Удалить себя</button>
            </form>
            <p><a href="/lab4/edit_user">Редактировать</a></p>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}